doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
		
		// logging
		script(type='text/javascript', src='https://rawgithub.com/dingyonglaw/JSLog/master/v1.1/JSLog.min.js')
		
		// jquery 2.1.0
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		
		// jquery ui
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
		
		// SnapSVG
		script(type='text/javascript', src='/javascripts/lib/snap.svg-min.js')
		
		// teoria, music theory calculation engine
		script(type='text/javascript', src='/javascripts/lib/teoria.js')
		
		// fingerboard util
		script(type='text/javascript', src='/javascripts/fingerboard-theoryutil.js')

		// fingerboard string
		script(type='text/javascript', src='/javascripts/fingerboard-string.js')
		
		// fingerboard instruments
		script(type='text/javascript', src='/javascripts/fingerboard-instruments.js')
		
		// fingerboard marker
		script(type='text/javascript', src='/javascripts/fingerboard-marker.js')
		
		// fingerboard
		script(type='text/javascript', src='/javascripts/fingerboard.js')
	
		// main
		script(type='text/javascript', src='/javascripts/main.js')

	body
		block content